{% if app.settings.google_analytics_enabled %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ app.settings.google_analytics_measurement_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ app.settings.google_analytics_measurement_id }}',
            {% if user.is_authenticated %} { 'user_id': '{{ user.pk }}' }, {% endif %}
            {% if app.settings.google_analytics_debug_mode %} { 'debug_mode': true }, {% endif %}
        );
    </script>

{% endif %}