{% if app.settings.google_analytics_enabled %}
<script>
    gtag('event', 'begin_checkout', {
        currency: '{{ basket.currency }}',
        value: '{{ order_total.incl_tax }}',
        coupon: {% if basket.vouchers.first.voucher %}'{{ basket.vouchers.first.code }}'{% else %}null{% endif%},
        items: [
            {% for line in basket.all_lines %}
            {
                index: {{ forloop.counter0 }},
                item_id: '{{ line.product.id|escapejs }}',
                item_name: '{{ line.product.get_title|escapejs }}',
                item_brand: '{{ store.name|escapejs }}',
                item_category: '{{ line.product.categories.first|default:'Uncategorised'|escapejs }}',
                price: '{{ line.unit_price_incl_tax_incl_discount|unlocalize|escapejs }}',
                quantity: {{ line.quantity | escapejs }}
            }{% if not forloop.last %}, {% endif %}
            {% endfor %}
        ]
    });
</script>
{% endif %}
